# Unit 12 - Tales from the Crypto

---

## 1. Sentiment Analysis

Use the [newsapi](https://newsapi.org/) to pull the latest news articles for Bitcoin and Ethereum and create a DataFrame of sentiment scores for each coin.

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [1]:
# Initial imports
import os
import pandas as pd
from pathlib import Path
from IPython.core.display import display, HTML
from dotenv import load_dotenv
import nltk as nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
from newsapi import NewsApiClient

%matplotlib inline

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\mahlesah\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [2]:
# Read your api key environment variable
load_dotenv()
api_key = os.getenv("news_api")

In [3]:
# Create a newsapi client
newsapi = NewsApiClient(api_key=api_key)

In [4]:
# Fetch the Bitcoin news articles
bitcoin_articles = newsapi.get_everything(
    q="Bitcoin AND bitcoin AND BTC", language="en", page_size=100, sort_by="relevancy"
)


print(f"Total number of news articles featuring Bitcoin - {bitcoin_articles['totalResults']}")
print(f"Sample news article featuring Bitcoin - {bitcoin_articles['articles'][1:3]}")

Total number of news articles featuring Bitcoin - 2962
Sample news article featuring Bitcoin - [{'source': {'id': 'business-insider', 'name': 'Business Insider'}, 'author': 'insider@insider.com (Simon Chandler,Paul Kim)', 'title': "What is bitcoin? A beginner's guide to the world's most popular type of cryptocurrency, and tips for investing in it", 'description': 'Bitcoin (BTC) is a digital currency that uses peer-to-peer technology to facilitate instant payments.', 'url': 'https://www.businessinsider.com/personal-finance/what-is-bitcoin', 'urlToImage': 'https://i.insider.com/5fd26a4630f2740018b0f223?width=1200&format=jpeg', 'publishedAt': '2022-05-20T21:00:42Z', 'content': 'Scarcely a news cycle goes by without some mention of bitcoin. As the first and most widely traded cryptocurrency, bitcoin is often seen as a representation of the larger cryptocurrency ecosystem, fo… [+13892 chars]'}, {'source': {'id': None, 'name': 'Bitcoin.com'}, 'author': None, 'title': 'Bitcoin, Ethereum Technical Analysis: BTC Slips to 10-Month Low, Below $33000 – Market Updates Bitcoin News - Bitcoin News', 'description': '<ol><li>Bitcoin, Ethereum Technical Analysis: BTC Slips to 10-Month Low, Below $33000 – Market Updates Bitcoin News\xa0\xa0Bitcoin News\r\n</li><li>Bitcoin drops 50% from peak, near lowest levels in last one year\xa0\xa0Economic Times\r\n</li><li>Crypto Crash: Why is cryptoc…', 'url': 'https://news.bitcoin.com/bitcoin-ethereum-technical-analysis-btc-slips-to-10-month-low-below-33000/', 'urlToImage': 'https://static.news.bitcoin.com/wp-content/uploads/2022/05/shutterstock_1978798856-1.jpg', 'publishedAt': '2022-05-09T13:45:30Z', 'content': 'BTC fell to its lowest level since last July, as prices dropped below $33,000 to start the week. The selloff in cryptocurrency started last week, following the Fed’s decision to hike interest rates b… [+2651 chars]'}]

In [5]:
# Fetch the Ethereum news articles
ethereum_articles = newsapi.get_everything(
    q="Ethereum AND ethereum AND ETH", language='en', page_size=100, sort_by="relevancy"
)


print(f"Total number of news articles featuring Ethereum - {ethereum_articles['totalResults']}")
print(f"Sample news article featuring Ethereum - {ethereum_articles['articles'][1:3]}")

Total number of news articles featuring Ethereum - 1471
Sample news article featuring Ethereum - [{'source': {'id': None, 'name': 'Gizmodo.com'}, 'author': 'Kyle Barr', 'title': 'GameStop Dunks Its Head Into the Crypto Kiddie Pool', 'description': 'GameStop has officially thrown itself headlong into the web3 vipers nest with a new app release, though it’s hard to say whether its proposed population of gamers and game developers will take up the company on its belated, head-first jump into the crypto sph…', 'url': 'https://gizmodo.com/gamestop-crypto-nft-wallet-blockchain-1848965386', 'urlToImage': 'https://i.kinja-img.com/gawker-media/image/upload/c_fill,f_auto,fl_progressive,g_center,h_675,pg_1,q_80,w_1200/cd4c128b4182d7b2fba8152d7bb35733.jpg', 'publishedAt': '2022-05-23T21:35:00Z', 'content': 'GameStop has officially thrown itself headlong into the web3 vipers nest with a new app release, though its hard to say whether its proposed population of gamers and game developers will take up the … [+3255 chars]'}, {'source': {'id': None, 'name': 'Bitcoin.com'}, 'author': None, 'title': 'Bitcoin, Ethereum Technical Analysis: BTC Slips to 10-Month Low, Below $33000 – Market Updates Bitcoin News - Bitcoin News', 'description': '<ol><li>Bitcoin, Ethereum Technical Analysis: BTC Slips to 10-Month Low, Below $33000 – Market Updates Bitcoin News\xa0\xa0Bitcoin News\r\n</li><li>Bitcoin drops 50% from peak, near lowest levels in last one year\xa0\xa0Economic Times\r\n</li><li>Crypto Crash: Why is cryptoc…', 'url': 'https://news.bitcoin.com/bitcoin-ethereum-technical-analysis-btc-slips-to-10-month-low-below-33000/', 'urlToImage': 'https://static.news.bitcoin.com/wp-content/uploads/2022/05/shutterstock_1978798856-1.jpg', 'publishedAt': '2022-05-09T13:45:30Z', 'content': 'BTC fell to its lowest level since last July, as prices dropped below $33,000 to start the week. The selloff in cryptocurrency started last week, following the Fed’s decision to hike interest rates b… [+2651 chars]'}]

In [6]:
# Create the Bitcoin sentiment scores DataFrame
bitcoin_sentiments = []

for article in bitcoin_articles["articles"]:
    try:
        title = article["title"]
        text = article["content"].lower()       
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        bitcoin_sentiments.append({
            "Title":title, "Text":text,
            "Date":date,  "Compound":compound,
            "Positive":pos,   "Negative":neg,
            "Neutral":neu,
            
        })
        
    except AttributeError:
        pass
    

df_bitcoin_sentiments = pd.DataFrame(bitcoin_sentiments)
df_bitcoin_sentiments.head()

,Title,Text,Date,Compound,Positive,Negative,Neutral
0,Miami’s Bitcoin Conference Left a Trail of Har...,"now, even though there are a number of women-f...",2022-05-10,0.0772,0.036,0.000,0.964
1,What is bitcoin? A beginner's guide to the wor...,scarcely a news cycle goes by without some men...,2022-05-20,0.0000,0.000,0.000,1.000
2,"Bitcoin, Ethereum Technical Analysis: BTC Slip...","btc fell to its lowest level since last july, ...",2022-05-09,0.1027,0.076,0.066,0.859
3,"Bitcoin, cryptocurrency shed $200 billion in o...",contagion spreading to stock markets as invest...,2022-05-12,-0.5667,0.070,0.173,0.757
4,Protecting Retirement Savings from Volatile Cr...,did you hear? you may be able to allocate some...,2022-05-09,0.1280,0.045,0.000,0.955

In [7]:
# Create the Ethereum sentiment scores DataFrame
ethereum_sentiments  = []

for article in ethereum_articles["articles"]:
    try:
        title = article["title"]
        text = article["content"].lower()
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        ethereum_sentiments.append({
            "Title": title,
            "Text": text,
            "Date": date,
            "Compound": compound,
            "Positive": pos,
            "Negative": neg,
            "Neutral": neu,
            
        })
        
    except AttributeError:
        pass
    
    
df_ethereum_sentiments = pd.DataFrame(ethereum_sentiments)
df_ethereum_sentiments.head()

,Title,Text,Date,Compound,Positive,Negative,Neutral
0,It’s Time To Get Interested In Ethereum Again,"crypto winter it may be, but ethereum looks li...",2022-06-09,0.3612,0.081,0.044,0.875
1,GameStop Dunks Its Head Into the Crypto Kiddie...,gamestop has officially thrown itself headlong...,2022-05-23,-0.1027,0.000,0.040,0.960
2,"Bitcoin, Ethereum Technical Analysis: BTC Slip...","btc fell to its lowest level since last july, ...",2022-05-09,0.1027,0.076,0.066,0.859
3,50 cryptocurrency and NFT terms you need to know,"if you're inexperienced with nfts, some terms ...",2022-05-20,0.5574,0.135,0.039,0.827
4,"Bitcoin, cryptocurrency shed $200 billion in o...",contagion spreading to stock markets as invest...,2022-05-12,-0.5667,0.070,0.173,0.757

In [8]:
# Describe the Bitcoin Sentiment
df_bitcoin_sentiments.describe()

         Compound    Positive    Negative    Neutral
count  100.000000  100.000000  100.000000  100.00000
mean     0.060163    0.071580    0.055230    0.87320
std      0.476574    0.071333    0.065856    0.07974
min     -0.851900    0.000000    0.000000    0.60400
25%     -0.323650    0.000000    0.000000    0.82775
50%      0.064400    0.062000    0.047000    0.87900
75%      0.458800    0.115000    0.085000    0.93250
max      0.900100    0.349000    0.246000    1.00000

In [9]:
# Describe the Ethereum Sentiment
df_ethereum_sentiments.describe()

         Compound   Positive    Negative     Neutral
count  100.000000  100.00000  100.000000  100.000000
mean     0.106411    0.07554    0.050370    0.874100
std      0.440135    0.07038    0.060817    0.086477
min     -0.851900    0.00000    0.000000    0.604000
25%     -0.273200    0.00000    0.000000    0.817000
50%      0.055900    0.07000    0.042000    0.879500
75%      0.481000    0.12050    0.079250    0.937000
max      0.900100    0.34900    0.260000    1.000000

### Questions:

Q: Which coin had the highest mean positive score?

A: Ethereum has the highest mean positive score of 0.07799

Q: Which coin had the highest compound score?

A: Ethereum has the highest compound score of 0.893400

Q. Which coin had the highest positive score?

A: Ethereum has the highest positive score of 0.33200

---

## 2. Natural Language Processing
---
###   Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word.
2. Remove Punctuation.
3. Remove Stopwords.

In [10]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re

In [11]:
# Instantiate the lemmatizer
lemmatizer = WordNetLemmatizer()

# Create a list of stopwords
sw = set(stopwords.words('english'))

# Expand the default stopwords list if necessary
sw_cuts = {'say', 'sent', 'go', 'wa', 'k', 'u', 'week', 'x', 'also', 'char','ha', 'th', 'b'}

In [12]:
# Complete the tokenizer function
def tokenizer(text):
    """Tokenizes text."""
    
    # Remove the punctuation from text
    regex = re.compile("[^a-zA-Z ]")
    re_clean = regex.sub('', text)
   
    # Create a tokenized list of the words
    words = word_tokenize(re_clean)

    # Lemmatize words into root words
    lem = [lemmatizer.lemmatize(word) for word in words]
   
    # Convert the words to lowercase
    word_lower = [word.lower() for word in lem]
    
    # Remove the stop words
    output = [word.lower() for word in word_lower if word.lower() not in sw]
    output1 = [word.lower() for word in output if word.lower() not in sw_cuts]

    return output1

In [13]:
# Create a new tokens column for Bitcoin
df_bitcoin_tokens = df_bitcoin_sentiments.copy()
tokenized = []

for article in df_bitcoin_sentiments['Text']:
    tokenized_articles = tokenizer(article)
    tokenized.append({'tokens':tokenized_articles})

    
df_bitcoin_tokens['Tokens'] = pd.DataFrame(tokenized)
df_bitcoin_tokens.head()

,Title,Text,Date,Compound,Positive,Negative,Neutral,Tokens
0,Miami’s Bitcoin Conference Left a Trail of Har...,"now, even though there are a number of women-f...",2022-05-10,0.0772,0.036,0.000,0.964,"[even, though, number, womenfocused, crypto, s..."
1,What is bitcoin? A beginner's guide to the wor...,scarcely a news cycle goes by without some men...,2022-05-20,0.0000,0.000,0.000,1.000,"[scarcely, news, cycle, without, mention, bitc..."
2,"Bitcoin, Ethereum Technical Analysis: BTC Slip...","btc fell to its lowest level since last july, ...",2022-05-09,0.1027,0.076,0.066,0.859,"[btc, fell, lowest, level, since, last, july, ..."
3,"Bitcoin, cryptocurrency shed $200 billion in o...",contagion spreading to stock markets as invest...,2022-05-12,-0.5667,0.070,0.173,0.757,"[contagion, spreading, stock, market, investor..."
4,Protecting Retirement Savings from Volatile Cr...,did you hear? you may be able to allocate some...,2022-05-09,0.1280,0.045,0.000,0.955,"[hear, may, able, allocate, retirement, saving..."

In [14]:
# Create a new tokens column for Ethereum

---

### NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [15]:
from collections import Counter
from nltk import ngrams

In [16]:
# Generate the Bitcoin N-grams where N=2
# YOUR CODE HERE!

In [17]:
# Generate the Ethereum N-grams where N=2
# YOUR CODE HERE!

In [18]:
# Function token_count generates the top 10 words for a given coin
def token_count(tokens, N=3):
    """Returns the top N tokens from the frequency count"""
    return Counter(tokens).most_common(N)

In [19]:
# Use token_count to get the top 10 words for Bitcoin
# YOUR CODE HERE!

In [20]:
# Use token_count to get the top 10 words for Ethereum
# YOUR CODE HERE!

---

### Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [21]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]

In [22]:
# Generate the Bitcoin word cloud
# YOUR CODE HERE!

In [23]:
# Generate the Ethereum word cloud
# YOUR CODE HERE!

---
## 3. Named Entity Recognition

In this section, you will build a named entity recognition model for both Bitcoin and Ethereum, then visualize the tags using SpaCy.

In [24]:
import spacy
from spacy import displacy

In [25]:
# Download the language model for SpaCy
# !python -m spacy download en_core_web_sm

In [26]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

---
### Bitcoin NER

In [27]:
# Concatenate all of the Bitcoin text together
# YOUR CODE HERE!

In [28]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [29]:
# Render the visualization
# YOUR CODE HERE!

In [30]:
# List all Entities
# YOUR CODE HERE!

---

### Ethereum NER

In [31]:
# Concatenate all of the Ethereum text together
# YOUR CODE HERE!

In [32]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [33]:
# Render the visualization
# YOUR CODE HERE!

In [34]:
# List all Entities
# YOUR CODE HERE!

---